.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #212529;
  color: white;
  z-index: 10;
}

/* Logo */
.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

/* Botón de menú */
.menuButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 20;
}

/* Menú lateral (oculto inicialmente) */
.sideMenu {
  position: fixed;
  top: 0;
  right: -250px; /* Fuera de pantalla */
  width: 250px;
  height: 100%;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease;
  z-index: 15;
}

.sideMenu.active {
  right: 0; /* Se muestra el menú */
}

.sideMenu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.sideMenu li {
  margin: 20px 0;
}

.sideMenu a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

.sideMenu a:hover {
  color: #0dcaf0;
}

/* Fondo oscuro al activar el menú */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* Botones de autenticación */

.authButtons {
  display: flex;
  flex-direction: column;
}

.loginButton,
.registerButton,
.catalogoButton,
.cartButton,
.logoutButton {
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #212529;
  margin-bottom: 10px;
}

.loginButton,
.registerButton,
.cartButton :active {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  color: #212529;
}